* {

}

body {
    
}

button {
    background-color: #1f618d;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#dataDiv {
    line-height: 1.5;
    text-align: center;
    padding:15px
}
